{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'teacher-dashboard' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>

            {% comment %} <!-- Administration Section Start -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Administration</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="#">
                         <i class="fa fa-plus-circle"></i>Add Designation</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">
                         <i class="fa fa-plus-circle"></i>Add Subject</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">
                         <i class="fa fa-plus-circle"></i>Add Class</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">
                         <i class="fa fa-plus-circle"></i>Add Learner</a>
                 </li>
             </ul>
           </li> {% endcomment %}
           <!-- Administration Section END -->

           <!-- Academic Section START -->
           {% comment %} <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Academic</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <i class="fa fa-plus-circle"></i>Create Class</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <i class="fa fa-plus-circle"></i>Create Section</a>
              </li>

            </ul>
          </li> {% endcomment %}

          <!-- Academic Section END -->
           <!-- Learner Section END -->


          <!-- Employee Section END -->

          <!-- Result Section START -->
          <!--<li class="nav-item nav-dropdown">
           <a class="nav-link nav-dropdown-toggle" href="#">
               <i class="nav-icon icon-puzzle"></i>Result</a>
           <ul class="nav-dropdown-items">
               <li class="nav-item">
                   <a class="nav-link" href="#">
                       <i class="fa fa-plus-circle"></i>Add Subject</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">
                       <i class="fa fa-list"></i>Subject List</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">
                       <i class="fa fa-plus-circle"></i>Mark Entry</a>
               </li>
           </ul>
         </li> -->
         <!-- Result Section END -->

         <!-- Attendence Report Section START -->
         <li class="nav-item nav-dropdown">
          <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i>Attendence Report</a>
          <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'learner-attendance' %}">
                      <i class="fa fa-plus-circle"></i>Learner Attendence</a>
              </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'learner-report' %}">
                      <i class="fa fa-plus-circle"></i>Attendence list</a>
              </li>
          </ul>
        </li>
        <!-- Attendence Report Section END -->

        <!-- Learner Section START -->
            <li class="nav-item nav-dropdown">
             <a class="nav-link nav-dropdown-toggle" href="#">
                 <i class="nav-icon icon-puzzle"></i>Learner</a>
             <ul class="nav-dropdown-items">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'learner-list' %}">
                         <i class="fa fa-list"></i>Learner List</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'learner-search' %}">
                         <i class="fa fa-search-plus"></i>Learner Search</a>
                 </li>
             </ul>
           </li>
           <!-- Learner Section END -->

       <!-- Holiday Section START -->
      <!-- <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-puzzle"></i>Holiday</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon icon-puzzle"></i>Learner List</a>
            </li>
        </ul>
      </li> -->
      <!-- Holiday Section END -->

        <!-- Event Section START -->
        <!--<li class="nav-item nav-dropdown">
         <a class="nav-link nav-dropdown-toggle" href="#">
             <i class="nav-icon icon-puzzle"></i>Event</a>
         <ul class="nav-dropdown-items">
             <li class="nav-item">
                 <a class="nav-link" href="#">
                     <i class="nav-icon icon-puzzle"></i>Learner List</a>
             </li>
         </ul>
       </li> -->
       <!-- Event Section END -->

        <!-- User-Manual Section START -->
        <li class="nav-item nav-dropdown">
         <a class="nav-link" href="#">
             <i class="nav-icon icon-puzzle"></i>User-Manual</a>
       </li>
       <!-- User-Manual Section END -->
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
